<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_EnterpriseNativeDataService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:03:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="6553699"
          useDefaultWebProxy="true" allowCookies="false">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_EnterpriseNativeDataService1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www01-ote.ote.local/OnTrax/NativeDataTransfer/EnterpriseNativeDataService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_EnterpriseNativeDataService1"
        contract="NativeDataService.EnterpriseNativeDataService" name="WSHttpBinding_EnterpriseNativeDataService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://www01-ote.ote.local/Train/NativeDataTransfer/EnterpriseNativeDataService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_EnterpriseNativeDataService"
        contract="NativeDataServiceTest.EnterpriseNativeDataService"
        name="WSHttpBinding_EnterpriseNativeDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>