<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="AEREntities" connectionString="metadata=&quot;res://*/AER Data Model.csdl|res://*/AER Data Model.ssdl|res://*/AER Data Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL1-OTE.ote.local;initial catalog=OTE_TIEMPO;persist security info=True;user id=sa;password=280775;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SPREntities" connectionString="metadata=&quot;res://*/SPR Data Model.csdl|res://*/SPR Data Model.ssdl|res://*/SPR Data Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql1-ote.ote.local;initial catalog=OTE_Tiempo;persist security info=True;user id=sa;password=280775;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="E210Entities" connectionString="metadata=&quot;res://*/E210 Data Model.csdl|res://*/E210 Data Model.ssdl|res://*/E210 Data Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql1-ote.ote.local;Initial Catalog=OTE_Tiempo;Persist Security Info=True;User ID=sa;Password=280775;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SEDEEntities" connectionString="metadata=&quot;res://*/SEDE Data Model.csdl|res://*/SEDE Data Model.ssdl|res://*/SEDE Data Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL1-OTE.ote.local;initial catalog=OTE_TIEMPO;persist security info=True;user id=sa;password=280775;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="StreamingBufferSize" value="65536"/>
  </appSettings>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\TEMP\WCFLogs\Server\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="300"/>
  </system.web>

  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="HttpStreamingService" receiveTimeout="04:00:00"
				 sendTimeout="04:00:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="104857600"
				 transferMode="Streamed">
          <security mode="TransportWithMessageCredential">
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <mexHttpsBinding>
        <binding name="SecureMex" />
      </mexHttpsBinding>

      <wsHttpBinding>
        <binding name="WSHttpBinding_EnterpriseNativeDataService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="999999999"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="999999999" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      
    </bindings>
    
    <services>
      <service behaviorConfiguration="CargoWise.eAdapterService.eAdapterStreamedServiceBehavior" name="OTE.eAdapter.eAdapterStreamedService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpStreamingService" contract="CargoWise.eHub.Common.IeAdapterStreamedService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="CargoWise.eAdapterService.eAdapterStreamedServiceBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="ea 40 6e a8 fa 7b 75 ff 86 52 cd 29 60 b2 45 1a d8 9e bc 9e" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CargoWise.eAdapterService.eHubUserNamePasswordValidator, CargoWise.eAdapterService, Version=1.0.0.0, Culture=neutral"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />

    <client>
      <endpoint address="http://www01-ote.ote.local/OnTrax/NativeDataTransfer/EnterpriseNativeDataService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_EnterpriseNativeDataService"
          contract="NativeDataService.EnterpriseNativeDataService" name="WSHttpBinding_EnterpriseNativeDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    
  </system.serviceModel>
  
</configuration>
